@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Oswald:wght@200;300;400;500;600;700&display=swap");

* {
	padding: 0;
	margin: 0;
	list-style: none;
	box-sizing: border-box;
	text-decoration: none;
}

body {
	font-family: "Open Sans", sans-serif;
	overflow-x: hidden;
}

html {
	overflow-x: hidden;
}

a {
	color: #333;
}

/*************************** Container ***************************/
.container {
	width: 100%;
	min-height: 100vh;
	margin: 0 auto;
	display: grid;
	grid-template-columns: minmax(90px, 90px) auto 400px;
	grid-template-rows: 60px auto;
	grid-template-areas:
		"header			header		header"
		"sidebar		main 			thumbnail";
	transition: all 0.3s ease;
}

.container.active {
	grid-template-columns: minmax(300px, 18%) auto 400px;
}

/*************************** Header ***************************/
.header {
	grid-area: header;
	padding: 0 20px;
	display: grid;
	grid-template-columns: auto 1fr auto;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
	grid-template-areas: "logo 		search-bar	icons";
}

/* container logo */
.header .container-logo {
	grid-area: logo;
	display: flex;
	align-items: center;
}

.header .container-logo .btn-menu {
	border: none;
	padding: 10px;
	background: none;
	cursor: pointer;
	font-size: 18px;
	border-radius: 100px;
	width: 50px;
	height: 50px;
	margin-right: 20px;
	transition: all 0.3s ease-in-out;
}

.header .container-logo .btn-menu:hover {
	background-color: #e7e7e7;
}

.header .container-logo .logo .fas {
	background-color: #ff0000;
	padding: 7px 12px;
	border-radius: 4px;
	font-size: 8px;
	color: #fff;
	position: relative;
	top: -2px;
	margin-right: 4px;
}

.header .container-logo .logo {
	font-size: 20px;
}

.header .search-bar {
	grid-area: search-bar;
	display: flex;
	align-items: center;
	justify-content: center;
}

.header .search-bar input {
	min-width: 60%;
	padding: 0 15px;
	height: 35px;
	line-height: 35px;
	border: 1px solid #ccc;
	font-size: 16px;
	outline: none;
	font-family: "Open Sans", sans-serif;
}

.header .search-bar button {
	height: 35px;
	border: 1px solid #ccc;
	border-left: none;
	color: #545454;
	background: #f8f8f8;
	padding: 0 25px;
	cursor: pointer;
}

.header .header-btns {
	grid-area: icons;
	display: flex;
	align-items: center;
}

.header .header-btns button {
	background: none;
	border: none;
	width: 40px;
	height: 40px;
	font-size: 18px;
	padding: 7px 12px;
	border-radius: 100px;
	color: #828282;
	margin-right: 20px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}

.header .header-btns button:hover {
	background: #e7e7e7;
}

.header .header-btns .avatar {
	display: inline-block;
	width: 30px;
	height: 30px;
}

.header .header-btns .avatar img {
	width: 100%;
	height: 100%;
	vertical-align: top;
	border-radius: 100px;
}

/*************************** Sidebar ***************************/
.sidebar {
	grid-area: sidebar;
}

.sidebar a {
	display: block;
	padding: 18px 35px;
	color: #333;
	min-width: 800px;
}

.sidebar a:hover {
	background: #e5e5e5;
}

.sidebar a.active {
	background: #e5e5e5;
	font-weight: bold;
}

.sidebar .fas {
	color: #606060;
	margin-right: 32px;
	width: 20px;
	text-align: center;
}
/*************************** Main ***************************/
.main {
	grid-area: main;
	background-color: #f8f8f8;
	padding: 40px;
}

.main .video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.main .video-container iframe,
.main .video-container object,
.main .video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.main h1 {
	padding: 20px 0;
	font-size: 22px;
	color: #303030;
}

.main .video-info {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.main .video-info h2 {
	color: #303030;
	font-size: 18px;
}

.main .video-info a {
	margin: 0 15px;
	color: #303030;
}

.main hr {
	margin-top: 20px;
}

.main .video-subs {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 20px;
}

.main .video-subs .avatar {
	padding: 10px;
	border-radius: 100%;
	background-color: #63aee8;
	cursor: pointer;
	margin-right: 10px;
}

.main .video-subs .avatar a {
	font-size: 10px;
	color: #e5e5e5;
}

.main .video-subs .video-subs-info {
	min-width: 15rem;
	width: 80%;
	margin-right: 30%;
	height: auto;
}

.main .video-subs .video-subs-info p {
	font-size: 12px;
	padding-top: 8px;
}

.main .video-subs .video-subs-icons {
	display: flex;
	align-items: center;
}

.main .video-subs .video-subs-icons a {
	margin: 0 10px;
}

.main .video-subs .video-subs-icons .subs {
	background-color: #303030;
	padding: 12px 24px;
	color: #e5e5e5;
}

.main .video-subs .video-subs-icons .fas {
	font-size: 20px;
}

/*************************** Header ***************************/
.thumbnail {
	grid-area: thumbnail;
}

.thumbnail .card {
	display: flex;
	align-items: flex-start;
	margin-left: 20px;
	margin-top: 10px;
}
.thumbnail .card-info {
	margin-left: 8px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.thumbnail .card h2,
.thumbnail .card a {
	font-size: 13px;
	margin-bottom: 2px;
}

.thumbnail .card h3 {
	font-size: 12px;
	margin-top: 2px;
}

/*************************** Media Queries ***************************/

@media screen and (max-width: 1200px) {
	.thumbnail {
		display: none;
	}

	.container {
		grid-template-areas:
			"header			header		header"
			"sidebar		main 			main";
	}

	.header .container-logo .logo span {
		display: none;
	}
}

@media screen and (max-width: 992px) {
	.sidebar {
		display: none;
	}

	.container {
		grid-template-areas:
			"header			header		header"
			"main		main 			main";
	}
}

/* logo 		search-bar	icons */

@media screen and (max-width: 768px) {
	.container {
		grid-template-rows: auto;
	}

	.header {
		padding: 20px;
		grid-template-columns: auto auto;
		justify-content: space-between;
		grid-template-areas:
			"logo					icons"
			"search-bar		search-bar";
	}

	.header .container-logo .logo span {
		display: inline;
	}

	.header .search-bar input {
		min-width: auto;
		width: 100%;
	}

	.main .video-info {
		min-width: 40%;
		width: 100%;
	}

	.main .video-subs .video-subs-info {
		min-width: 8rem;
		margin-right: 30%;
	}
}

@media screen and (max-width: 576px) {
	.header {
		display: none;
	}

	.container {
		display: flex;
		justify-content: center;
	}

	html {
		font-size: 55%;
	}

	.main h1,
	.main .video-info h2 {
		font-size: 12px;
	}

	.main .video-subs .video-subs-icons {
		display: none;
	}

	/* .main .video-subs .video-subs-info p {
		width: 100%;
	} */
}
